@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-2" >Are you Sure to Delete this Employee </h1>

<form asp-action="Delete">
    @* <div asp-validation-summary="All"></div> *@
    <partial name="PartialViews/DetailsDeleteEmployeePartial" />
    <input type="hidden" asp-for="ImageName" />
    <input type="submit" name="Delete" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light"> Back To List</a>


</form>
