
@{
    ViewData["Title"] = "CheckYour Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
      <div class="body">
          <div>
                <p>
                    Check your email inbox for a message with a confirmation link.
                    You must click the link to complete your registration.
                </p>
          </div>
           <div>
                <a href="https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
           </div>
      </div>


        </div>
</div>


